<style>

/* Basic Styling */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'verdana'';
}
			.banner {
				   width: 100%;
				   font-color: purple;
				   margin: 0 auto;
				  background-color: beige;
				  text-align: center;
				  font-size: 48px;
				  folt-family: verdana;
				  margin: 10px;
				}
 
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}
/* Columns */
.left-column {
  width: 55%;
  Height:55%;
  position: relative;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
  margin-left: 60px;
  padding: 30px;
}
/* Left Column */
.left-column img {
  position: absolute;
  width: 25%;
  Height:25%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
  padding:40px;
  margin-right:40px;
}
 
.left-column img.active {
  opacity: 1;
}

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
  margin-left: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
    align-items: center;
}
.cart-btn:hover {
  background-color: #64af3d;
}

</style>